

<h2 class="text-center">{{ title }}!</h2>
<hr>
<div class="container">
  <div>
    <h5>
      <label for="num1">Introduzca el Primer Numero: </label>
      <input type="number" name="num1" id="" [(ngModel)]="numero1">
    </h5>
  </div>  
  <br>
  <div>
    <h5>
      <label for="num2">Introduzca el Segundo Numero: </label>
      <input type="number" name="num2" id="" [(ngModel)]="numero2">
    </h5>
  </div>  

  <br>
  <div class="row text-center">
    <div class="col-2"></div>
    <div id="sumar" class="col-2" (click)="sumar()">
      <p>Sumar</p>
    </div>
    <div class="col-1"></div>
    <div id="restar" class="col-2" (click)="restar()">
      <p>Restar</p>
    </div>
    <div class="col-1"></div>
    <div id="multiplicar" class="col-2" (click)="multiplicar()">
      <p>Multiplicar</p>
    </div>
    <div class="col-2"></div>
  </div>
  <hr>
  <div id="resultado">
    <p class="text-center bg-success-subtle">El resultado es: {{resultado}}</p>
  </div>
</div>
<router-outlet></router-outlet>
